* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    min-width: 420px;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    ;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #000;
    background-color: #edeff2;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
}

.container {
    /* max-width: 1044px; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 31px;
}

.title__head {
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 4rem;
}

.title__text {
    margin: 16px 0;
}

.img-div-wrapper {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    padding: 10px;
}

.img-div__image {
    display: block;
    margin: 0 auto;
}

.img-div__img-caption {
    display: block;
    margin: 15px 0 5px 0;
}

.tribute-info-wrapper {
    margin: 0 auto 50px auto;
}

.tribute-info__head {
    margin: 50px 0;
    font-size: 1.17em;
}


.tribute-info__list {
    max-width: 550px;
    padding: 0 40px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

.tribute-info__quote {
    max-width: 545px;
    margin: 0 auto 50px auto;
    font-style: italic;
    text-align: left;
}

.tribute-info__quote-phrase {
    margin: 16px 0;
}

.tribute-link {
    font-weight: 700;
    font-size: 1.17em;
}

.tribute-link__link {
    color: #477ca7;
}